<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Username:</dt>
  <dd><%= @user.username unless @user.username.nil?%></dd>

  <dt>First name:</dt>
  <dd><%= @user.first_name unless @user.first_name.nil? %></dd>

  <dt>Last name:</dt>
  <dd><%= @user.last_name unless @user.last_name.nil?  %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email unless @user.email.nil?%></dd>

  <dt>Número de acessos:</dt>
  <dd><%= @user.sign_in_count unless @user.sign_in_count.nil?%></dd>

  <dt>Último acesso:</dt>
  <dd><%= distance_of_time_in_words(Time.now, @user.last_sign_in_at.to_datetime) unless @user.last_sign_in_at.nil?%></dd>

  <dt>Último IP do acesso:</dt>
  <dd><%= @user.last_sign_in_ip unless @user.last_sign_in_ip.nil?%></dd>

</dl>
