<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<!--Navbar TOP-->
<section>
  <%= render 'layouts/navbar' %>
</section>
<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h2>
      <span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;<%= controller_name.to_s.capitalize %>
    </h2>
  </div>
  <!--ALERT Handler-->
  <section>
    <%= render 'layouts/alert' %>
  </section>
  <%= yield %>
</div>
<footer class="footer">
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>
